@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.cards{
    font-family: "Inter", sans-serif;
    padding: 20px 0;
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 31px;
}

.card{
    width: 372px;
    text-align: center;
}

.card img{
    width: 100%;
}

.card h2{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.card p{
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #3C3C43;

}