*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    font-family: Arial;
}


section p{
    width: 80%;
    font-size: 20px;
}

section h2{
    font-size: 40px;
}

#top-section{
    background-color: pink;
}

#middle-section{
    background-color: lightblue;
}

#bottom-section{
    background-color: #319531;
}

section img{
    width: 30px;
    margin: 20px 0;
}

.revers{
    transform: rotate(180deg);
}